/* Colors */
$light: #ffffff;
$highlight: #5B115F;
$accent: #8A0691;
$accentlight:  #6e00c27e;
$dark: #160E16;

/* Fonts */
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/* Font Sizes */
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.2rem;

/* Breakpoints */
$phone-small: 639px;
$phone: 767px;
$tablet: 1023px;
$desktop: 1199px;
