.banner {
	background-color: $background;
	background-image: url($main-banner);
	background-size: cover;
	padding: 5rem;
	text-align: center;
	section h1 {
		font-weight: 400;
		font-size: 3rem;
		line-height: 2rem;
		color: $text-light;
		padding: 2rem;
	}
}
