/* Containers */
.container-light {
	background-color: $light;
	color: $dark;
}

.container-highlight {
	background-color: $highlight;
	color: $light;
}
.container-dark {
	background-color: $dark;
	color:$light;
}

/* Flex */
.flex {
    display: flex;
	align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Spacing */
.inner-small {
	padding: 1rem;
}

.inner-medium {
	padding: 2rem;
}

.inner-large {
	padding:5rem 
}