/* Containers */
.container-light {
    background-color: $light;
    color: $dark;
}

.container-highlight {
    background-color: $highlight;
    color: $light;
}
.container-dark {
    background-color: $dark;
    color:$light;
}

/* Spacing */
.inner-small {
    padding: 1rem;
}

.inner-medium {
    padding: 2rem;
}

.inner-large {
    padding:5rem 
}

/* Alignment */
.center {
	display: flex;
	justify-content: center;
	text-align: center;
}

.justify {
    display: flex;
	justify-content: justify;
	text-align: justify;

}

/* Elements */
.header {
	z-index: 5;
	background: $light;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.header-menu {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	color: $dark;
	width: 40%;
	li,
	a {	
		list-style-type: none;
		font-size: 1rem;
		text-decoration: none;
	}
}