.title-content {
	color: $text-dark;
	margin-bottom: 2rem;
	text-align: justify;
}

.text-content p {
	color: $text-medium;
	font-size: $font-medium;
	margin-bottom: 2rem;
	text-align: justify;
}

.button-dark a {
	color: $high-light;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
}
