.containerLight {
	background-color: $backgroundLight;
	h2 {
		display: flex;
		justify-content: center;
	}
	p {
		text-align: center;
	}
}

.containerDark {
	background-color: $background;

	padding: 1.2rem;
	text-align: center;
	line-height: 3rem;
	section h1 {
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 5rem;
		color: $textLight;
		padding: 1.5rem;
	}
}

.containerDark h2 {
	color: $textLight;
}

.containerDark p {
	color: $textLight;
}
