.container-light {
	background-color: $background-light;
	h2 {
		display: flex;
		justify-content: center;
	}
	p {
		text-align: center;
	}
}

.container-dark {
	background-color: $background;
	padding: 1.2rem;
	text-align: center;
	line-height: 3rem;
	section h1 {
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 5rem;
		color: $text-light;
		padding: 1.5rem;
	}
}

.container-dark h2 {
	color: $text-light;
}

.container-dark p {
	color: $text-light;
}
