.header {
	z-index: 5;
	background: $background;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.headerTitle {
	text-transform: capitalize;
	font-size: $fontLarge;
	color: $textLight;
	a {
		text-transform: capitalize;
		font-size: $fontLarge;
		color: $textLight;
		text-decoration: none;
		&:hover {
			text-transform: capitalize;
			font-size: $fontLarge;
			color: $textLight;
		}
	}
}

.headerMenu {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.headerMenuLinks {
	color: $textLight;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
	li,
	a {
		font-size: 1rem;
		text-decoration: none;
		color: $textLight;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
