.iconsDark {
	display: flex;
	justify-content: center;
	i {
		margin: 1rem;
		font-size: 3rem;
		color: $textDark;
	}
}

.socialIcons {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	li,
	a {
		border-radius: 100%;
		color: $textLight;
		width: 2rem;
		height: 2rem;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
	}
}

.socialIcons li a:hover {
	background-color: $hoverIcons;
	color: $textLight;
}
