.services li {
	display: inline-block;
	color: $textMedium;
	font-size: 16px;
	padding: 10px 20px;
	background-color: $backgroundLight;
	border: 1px solid #d7d7d7;
	border-radius: 27px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-weight: 500;
	&:hover {
		background: $highlight;
	}
	a {
		text-decoration: none;
	}
	& a:hover {
		background: $highlight;
		color: $textLight;
	}
}
