/* -----------------------------------------------------------------------------
* Imports
---------------------------------------------------------------------------- */

@import "./variables", "./header", "./banner" ,"./containers", "./inner-sections",
	"./icons", "./services","./footer", "content";

/* -----------------------------------------------------------------------------
* Global
----------------------------------------------------------------------------- */

* {
	margin: 0;
}

body {
	font-family: $font-primary;
	font-weight: 400;
	font-style: normal;
	color: $text-medium;
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-primary;
	color: $text-dark;
}

h2 {
	display: inline-block;
	font-weight: 2rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

a {
	color: $high-light;
}

/* Divider */

.divider hr {
	border-top: 2px solid $background-light;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

/* -----------------------------------------------------------------------------
* Breakpoints
----------------------------------------------------------------------------- */
