/* Counter */
.counter {
	display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas:
        'one two three four'
}

@media screen and (max-width:$phone) {
    .counter {
        display: grid;
        grid-auto-columns: 1fr;
        gap: 1em;
        grid-template-areas:
            'one two'
    }
}
@media screen and (max-width:$phone-small) {
    .counter {
        display: grid;
        grid-auto-columns: 1fr;
        gap: 1em;
        grid-template-areas:
            'one'
    }
}

.counter-item {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light;
    box-shadow: 2px 2px 2px 1px $accent;
}

.counter-target {
	color:$highlight;
    font-size: 2.5rem;
    padding: 1rem;
}

.counter-icon {
    color: $light;
    font-size: 1.5rem;
}


.navigation li a,
	.navigation li a:hover,
	.navigation li.active a,
	.navigation li.disabled {
	color: #fff;
	text-decoration:none;
	}
	
	.navigation li {
	display: inline;
	}
	
	.navigation li a,
	.navigation li a:hover,
	.navigation li.active a,
	.navigation li.disabled {
        display: inline-block;
        background-color: $highlight;
        color: $light;
        border: 1px solid $light;
        border-radius: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
	}
	
	.navigation li a:hover,
	.navigation li.active a {
	    background-color: $light;
		color: $highlight;
		border: 1px solid $highlight;
    }