.grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas:
        'one two three'
}

@media screen and (max-width:$phone) {
    .grid {
        display: grid;
        grid-auto-columns: 1fr;
        gap: 1em;
        grid-template-areas:
            'one two'
    }
}
@media screen and (max-width:$phone-small) {
    .grid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas:
            'one'
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.grid-item:hover {
    background-color: #bd17ff0e;
}
