/* Colors */
$light: #fff;
$highlight: #0074e4;
$accent: #134b64;
$dark: #000d13;

/* Fonts */
$font-primary: "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;

/* Font Sizes */
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.2rem;

/* Breakpoints */

/* Images */
$main-banner: "https://cdn.pixabay.com/photo/2021/08/10/13/43/orthodontics-6536026_960_720.jpg";
