/* Colors */
$light: #ffffff;
$highlight: #5B115F;
$accent: #8A0691;
$dark: #160E16;

/* Fonts */
$font-primary: 'Roboto Condensed', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Font Sizes */
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.2rem;

/* Breakpoints */
$phone-small: 639px;
$phone: 767px;
$tablet: 1023px;
$desktop: 1199px;

/* Images */
$main-banner: "https://cdn.pixabay.com/photo/2022/07/06/16/25/beautiful-7305552_960_720.jpg";
