/* Banner */
.banner {
	background-image: url($main-banner);
	background-size: cover;
	text-align: center;
}

/* Counter */
.counter {
	width: 50%;
}

.counter-target {
	color:$highlight;
}

.counter-icon {
    color: $highlight;
}

.counter-info {
    color: $highlight;
}
