.nav {
	width: 50%;
}

@media screen and (min-width: $phone) {

	.nav-mobile {
		display: none;
	}

	.mobile-button {
		display: none;
	}
}

@media screen and (max-width:$phone) {

    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

	.mobile-button {
		display: block;
		padding: 1rem;
    	cursor: pointer;
	}

	.bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		border-radius: 5rem;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background-color: $highlight;
	}

	.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
        background-color: $light;
        position: relative;
        z-index: 2;
	}
	
	.active .bar:nth-child(2){
		opacity: 0;
	}

	.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
        background-color: $light;
        position: relative;
        z-index: 2;
	}

	.nav-mobile {
		position: fixed;
		right: -100%;
		top:0px;
		width: 100%;
		transition: 0.3s;
		background: $highlight;
		
		&_list {
			display: flex;
			flex-direction: column;
            justify-content: center;
            align-items: center;
			margin: 0.5rem;
			padding: 1rem;
			
			&_item {
                color: $light;
				padding: 1rem;
			}
		}
	}
    
}