.titleContent {
    color:$textDark;
    margin-bottom: 2rem;
    text-align:justify;
}

.textContent p {
    color: $textMedium;
    font-size: $fontMedium;
    margin-bottom: 2rem;
    text-align:justify;
}

.buttonDark a { 
    color:$highlight;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}